/Assignment_module4_The_Class_Relationship_Model/nbproject/private/
/Assignment_module4_The_Class_Relationship_Model/build/
/Lab_4_Skeleton/nbproject/private/
/Lab_4_Skeleton/build/
/Lab_4_Skeleton/dist/
/Module6ProfileWorkarea/JavaApplication9/nbproject/private/
/Module6ProfileWorkarea/src/Module6/nbproject/private/
/Module6ProfileWorkarea/ProfileWorkareaExample 3/ProfileWorkareaExample/build/
/Module6ProfileWorkarea/ProfileWorkareaExample 3/ProfileWorkareaExample/nbproject/private/
